$color-primary-blue: #054c5fc7;
$color-primary-dark: #013342c7;
$color-primary-light: #0a697cd6;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
